
/* =================================
  Base Element Styles
==================================== */
* {
  box-sizing: border-box;
}

body {
  font-family: "Open sans", Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
  color: #3a3a3a;
}
a {
  color: #4a4a4a;
  text-decoration: none;
  padding: 2px;
  font-size: 18px;
}
p {
  font-size: 17px;
}

/* =================================
  Base Layout Styles
==================================== */
.container {
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
}

.main-header,
.contact {
  background-color: aliceblue;
  padding-top: 0;
}
.main-header {
  padding-bottom: 5px;
}
.contact h2 {
  margin-top: 0;
}
.name {
  margin-top: 0;
}
.introduction p {
  max-width:600px;
}

/* About Navigation */
.main-nav li {
  margin:6px 6px;
  background: white;
  padding: 3px 0;
}
.main-nav a:hover {
  color: red;
}

/* Layout Container */
.contact p {
  margin: 0;
}
.portfolio-list img {
  width: 100%;
  height: auto;
  padding: 5px;
}
.feat-img {
  width: 70%;
  height: auto;
  padding: 5px;
}
.skills img {
  width: 3%;
  height: auto;
}
.skills li {

}

/* To get extra mark */
.portfolio a {
  color: greenyellow;
  font-family: 'ZCOOL KuaiLe', cursive;
}



/*   Footer */
.main-footer {
  background-color: aliceblue;
  border-top:solid 1px black;
  overflow: hidden;
}

.footer-name {
  float: left;
  margin: 0;
  font-size: 20px;
}
.footer-nav {
  float: right;
  font-weight: bold;
  margin-top: 5px;
}
.footer-links {
  display: none;
}
.footer-links a:hover {
    color: red;
}


/* ================================
   Media Queries
   =================================*/

/* Tablet Size */
@media (min-width: 768px) {

  .wrap {
    min-height: calc(100vh-95.91px);
  }
  .name,
  .main-nav li
  {
    display: inline-block;
  }
  .main-nav li {
    background-color: inherit;
    padding: 0 15px;
  }


  .clearfix::after {
    content: "";
    display: table;
    clear:both;
  }

  .marketing-page,
  .travel-app,
  .photo-gallery {
    float: left;
    width: 50%;
    background-color: white;
  }
  .search-page,
  .mapof-favoritespots,
  .calculator {
    float: right;
    width: 50%;
    background-color: white;
  }
 .portfolio-list li {
  min-height: 423px;
}


  .introduction p {
    float: left;
    width: 70%;
  }
  .introduction img{
    width: 30%;
    height: auto;
    float: right;
  }

.skills li {
  background-color: aliceblue;
  padding: 2px;
  width: 50%;
  border: solid 1px black;
}
.skill-adobepremiere,
.skill-tencentqq
{
  float: left;
}

.skill-angular,
.skill-html5 {
   float: right;
}

.skills {
 overflow: hidden;
  clear: both;
}

  /* Solve the problem of float item jump out of div */
  .introduction {
    overflow: hidden;
  }
  .wholeportfolio {
    clear:both;
  }
  .contact {
    clear:both;
  }
  .contact p{
  width: 80%;
  margin:0 auto;
}


 /* Footer */
.back-to-top {
  display: none;
}
.footer-links {
  display: block;
}
.footer-links li {
  display: inline-block;
}

}

/* Desktop Size */
@media (min-width: 1024px) {
  .container {
    width: 80%;
    margin: 0 auto;
    max-width: 1920px;
  }
  .wrap {
    min-height: calc(100vh-95.91px);
  }
  .name,
  .main-nav,
  .main-nav li
  {
    display: inline-block;
  }

  .name {
    float: left;
  }
  .main-nav {
    float: right;
}
  .portfolio-list li {
    width: 33.33%;
    float: left;
  }
  .portfolio-list {
    overflow: hidden;
}
  .contact p{
  width: 70%;
  margin:0 auto;
}

/* ??Questions: Width between 1026- 1064 px, the second line of portfolio breaks*/

}
